Repository solvedcode/backend-websocket: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "eslint --max-warnings=0", "prettier --write"],
  "*.{json,md,yml,js,jsx}": ["prettier --write"]
}

feat: :sparkles: Add websocket sub-module
  .gitmodules
Due: none

feat: :sparkles: Add start:socket script to package.json
  package.json
Due: prettier --write

feat: :sparkles: Implement send-message endpoint and add DTO for message requests
  package.json
  pnpm-lock.yaml
  src/app.controller.ts
  src/common/domain/dtos/requests/send-message.request.dto.ts
  src/main.ts
Due: eslint --fix, eslint --max-warnings=0, prettier --write

refactor: :zap: Change endOfLine setting to auto in Prettier configuration
  .prettierrc
Due: none

feat: :see_no_evil: Add firebase.json to .gitignore
  .gitignore
Due: none

build: :heavy_plus_sign: Add dependency firebase-admin
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: :wrench: change WebSocket server port from 3001 to 3000
  src/main.ts
Due: eslint --fix, eslint --max-warnings=0, prettier --write

feat: 👥 add /guests endpoint to list anonymous users
  src/app.controller.ts
Due: eslint --fix, eslint --max-warnings=0, prettier --write
